
/* comforta */

@font-face {
    font-family: 'comforta';
    src: url(../Font/comfortaa/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'comforta';
    src: url(../Font/comfortaa/Comfortaa-Bold.ttf);
    font-weight: 700;
}

/* montcerrat */
@font-face {
    font-family: 'montcerrat';
    src: url(../Font/montcerrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'montcerrat';
    src: url(../Font/montcerrat/Montserrat-Bold.ttf);
    font-weight: 700;
}

/* roboto */

@font-face {
    font-family: 'roboto';
    src: url(../Font/roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'roboto';
    src: url(../Font/roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

/* fontawesome */

@font-face {
    font-family: 'fontawesome';
    src: url(../Font/fontawesome5/fa-light-300.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'fontawesome';
    src: url(../Font/fontawesome5/fa-duotone-900.ttf);
    font-weight: 900;
}
